#Contact-Container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Contact-Wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
}

#Contact-Title {
    font-weight: 300;
    font-size: 24px;
}

#Contact-Form {
    display: flex;
    flex-wrap: wrap;
}

#Contact-Form input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

#Contact-Form textarea {
    flex: 1;
    min-width: 60%;
    margin: 20px 10px 20px 0px;
    padding: 10px;
}

#Contact-Agreement {
    font-size: 12px;
    margin: 5px 0px 20px 0px;
}

#Contact-Form p {
    font-size: 12px;
    margin: 10px 0px;
}

#Contact-Form button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

@media (max-width:663px) {
    #Register-Wrapper {
        width: 75%;
    }
}