.Container {
    height: 60px;
}

.Wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Left {
    flex: 1;
    display: flex;
    align-items: center;
}

.Language {
    font-size: 14px;
    cursor: pointer;
}

.SearchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.SearchContainer input {
    border: none;
}

.Center {
    flex: 1;
    text-align: center;
}

.Logo {
    font-weight: bold;
}

.Right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MenuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

@media (max-width: 663px) {
    .Container {
        height: 50px;
    }

    .Wrapper {
        padding: 10px 0px;
    }

    .Language {
        display: none;
    }

    .SearchContainer input {
        width: 50px;
    }

    .Logo {
        font-size: 24px;
    }

    .Right {
        flex: 2;
        justify-content: center;
    }

    .MenuItem {
        font-size: 12px;
        margin-left: 10px;
    }
}